* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

/* Navbar Container CSS Entire */
#navbar {
    width: 100%;
    height: 55px;
    background-color: #131921;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
}

/* Logo Container CSS Start */
#LogoContainer {
    display: flex;
    align-items: center;
}

#LogoContainer img {
    height: 30px;
    width: max-content;
    object-fit: cover;
}
/* Logo Container CSS End */

/* Location Container CSS Start */
#LocationContainer {
    height: 45px;
    width: 220px;
    display: flex;
    color: white;
    font-weight: 550;
    justify-content: space-around;
    align-items: center;
    transition: background-color 0.15s ease-in-out;
    padding: 4px;
}

#LocationContainer:hover {
    background-color: #1b324f;
    cursor: pointer;
}

#LocationContainer img {
    height: 25px;
    width: 25px
}
/* Location Container CSS End */

/* Input Container CSS Start */
#InputContainer {
    background-color: rgb(180, 180, 180);
    height: max-content;
    width: max-content;
    display: flex;
    border-radius: 5px;
}

#InputContainer select {
    appearance: none; /* Removes default arrow */
    -webkit-appearance: none;
    -moz-appearance: none;
    height: 40px;
    width: 50px;
    border: none;
    background-color: #E6E6E6;
    color: #4b4b4b;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 14px;
    padding-left: 10px;
    transition: background-color 0.15s, color 0.15s;

    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="black"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 5px center;
    background-size: 16px;
}

#InputContainer select:hover {
    background-color: #cfcfcf;
    color: black;
    cursor: pointer;
}

#InputContainer input {
    height: 40px;
    width: 600px;
    font-size: 14px;
    padding-left: 10px;
    border: none;
}

#InputContainer button {
    height: 40px;
    width: 50px;
    background-color: #FEBD69;
    border: none;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    padding-top: 3px;
}

#InputContainer button:hover {
    background-color: #e5a24b;
    cursor: pointer;
}

#InputContainer button img {
    height: 20px;
    width: 20px;
    object-fit: contain;
}
/* Input Container CSS End */

/* Country Container CSS Start */
#Country {
    height: max-content;
    width: max-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    transition: transform 0.15s ease-in-out;
}

#Country:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#Country img {
    height: 25px;
    width: 25px;
    object-fit: cover;
}
/* Country Container CSS End */

/* SignIn Container CSS Start */
#SignUpContainer {
    height: 40px;
    width: 135px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color 0.15s ease-in-out;
    padding-left: 6px;
}

#SignUpContainer:hover {
    background-color: #1b324f;
    cursor: pointer;
}
/* SignIn Container CSS End */

/* Orders Container CSS Start */
#Orders {
    height: 40px;
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: background-color 0.15s ease-in-out;
    padding-left: 15px;
}

#Orders:hover {
    background-color: #1b324f;
    cursor: pointer;
}
/* Orders Container CSS End */

/* Cart Container CSS Start */
#CartContainer {
    height: max-content;
    width: max-content;
    display: flex;
    align-items: end;
    transition: transform 0.15s ease-in-out;
}

#CartContainer:hover {
    transform: scale(1.1);
    cursor: pointer;
}

#CartContainer img {
    height: 45px;
    width: 45px;
}
/* Cart Container CSS End */

/* Navigation Container CSS Start */
#Navigation {
    height: 40px;
    width: 100%;
    background-color: #232F3E;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px;
}

/* Hamburger Menu */
#HamburgerMenu {
    height: 40px;
    width: 60px;
    display: flex;
    justify-content: center; /* Center align icon */
    align-items: center;
    padding-left: 8px;
    transition: background-color 0.15s ease-in-out;
}

#HamburgerMenu:hover {
    background-color: #2b4e7a;
    cursor: pointer;
}

#HamburgerMenu img {
    height: 20px;
    width: 20px;
    object-fit: contain;
}

/* Navigation Text */
#Navigation p {
    font-size: 15px;
    padding: 11px 10px;
    transition: background-color 0.15s ease-in-out;
}

/* Hover Effect for Text */
#Navigation p:hover {
    background-color: #2b4e7a;
    cursor: pointer;
}
/* Navigation Container CSS End */

/* HeroSection Container CSS Start*/
#HeroSection {
    position: relative;
    height: max-content;
}

#HeroImage {
    width: 100%;
    height: 600px;
    background-image: url("Images/Carousal\ Image\ 2.jpg");
    background-size: cover;
}

#NavigationButtons {
    position: absolute;
    display: flex;
    top: 0;
    justify-content: space-between;
    width: 100%;
}

.SliderBtn {
    border: none;
    background-color: transparent;
    padding: 25px;
    padding-top: 140px;
    padding-bottom: 140px;
    transition: background-color 0.15s ease-in-out;
}

.SliderBtn:hover {
    background-color: rgba(255, 255, 255, 0.3);
}

.SliderBtn i {
    font-size: 50px;
    transition: transform 0.15s ease-in-out;
}

.SliderBtn i:hover {
    transform: scale(1.1);
}